<div class="card">
    <div class="card-header">User Update</div>
    <div class="card-body pd-5">
        <form>
            <div class="row my-3 p-3">
                <div class="col-lg-4">
                    <div class="">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" name="userName" [(ngModel)]="userObj.userName">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1">City</label>
                        <input type="text" class="form-control" name="userCity" [(ngModel)]="userObj.userCity">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1">State</label>
                        <select  class="form-select" name="userState" [(ngModel)]="userObj.userState">
                            <option [selected] disabled>Open state list</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Rajsthan">Rajsthan</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Punjab">Punjab</option>
                        </select>
                        
                    </div>
                    

                    <div class="">
                        <label for="exampleInputEmail1">Mobile</label>
                        <input type="text" class="form-control" name="userMobile" [(ngModel)]="userObj.userMobile">
                    </div>
                    <div class="">
                        <label for="exampleInputEmail1">Alt Mobile</label>
                        <input type="text" class="form-control" name="userAltMobile" [(ngModel)]="userObj.userAltMobile">
                    </div>


                <div>
                    Are you completed college degree?<br>   
                    Yes<input type="checkbox"  [(ngModel)]="userObj.userdegree"  value="Yes" name="userdegree" id="true"  >
                    No<input type="checkbox"  value="No" name="userdegree"   id="false" >
                </div>
                <br>
                <div>
                    Are you doing job?<br>
                   Yes <input class="form-check-input" type="radio" value="Yes" id="yes" name="userJob"  [(ngModel)]="userObj.userJob" >
                    No <input class="form-check-input" type="radio" value="No" id="no" name="userJob"  [(ngModel)]="userObj.userJob" >
                    
                </div>
            
            
                    <button type="button" (click)="updateUser()" class="btn btn-primary my-3">Update User</button>
                </div>
            </div>
        </form>
    </div>
</div>