<p>demo works!</p>
<h1>Your Name : {{ name | async }}</h1>

<button (click)="show()">Show Name Data</button>
<button (click)="diplayOrignal()">Orignal Name Data</button>
<button (click)="reset()"> Reset</button>
<br>
<br>

<button (click)="dataAdd()">Add Data</button>
<button (click)="dataRemove()">Remove Data</button>
<br>

<span style="margin-left: 1.5rem; background-color: darkgray;">Name List</span>
<div style="margin-left: 1.5rem;" *ngFor="let ele of dataArr |async">
  {{ele}}<br>
</div>
