<nav class="navbar navbar-expand-sm bg-light">

  <div class="container-fluid">
    <!-- Links -->

    <ul class="navbar-nav">
      <li>
        <a class="navbar-brand text-bold" href="#">
          <img src="https://img.icons8.com/color/96/000000/angularjs.png" alt="logo">
          
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/userlist">User List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/adduser">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/updateUser/:id">Update user</a>
      </li>
    </ul>
  </div>

</nav>
<router-outlet></router-outlet>